<div class="row container mr-0 mb-2" >
  <div routerLinkActive="active" class="col" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/Booking" class="nav-link">
        <i class="fa fa-map-o fa-1x text-secondary" ></i>
        <div class="h6" >Itineraire</div>
      </a>  
  </div>
  <div routerLinkActive="active" class="col" [routerLinkActiveOptions]="{exact: true}" >
    <a class="nav-link" routerLink="/Booking/Hebergement" >
        <i class="fa fa-bed fa-1x text-secondary"></i>
        <div class="h6" >Hébergements</div>
    </a> 
  </div>
  <div routerLinkActive="active" class="col" [routerLinkActiveOptions]="{exact: true}"  >
    <a routerLink="/Booking/Visite" class="nav-link" >
        <i class="fa fa-university fa-1x text-secondary"></i>
        <div class="h6" >Visites</div>
    </a>
      
  </div>
  <div routerLinkActive="active" class="col" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/Booking/Restaurant" class="nav-link">
        <i class="fa fa-cutlery fa-1x text-secondary"></i>
        <div class="h6" >Restaurants</div>
    </a>
  </div>
  <div routerLinkActive="active" class="col" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/Booking/reserver" class="nav-link">
        <i class="fa fa-money fa-1x text-secondary"></i>
        <div class="h6" >Réserver</div>
    </a>
      
  </div>
</div> 