.disabled {
    pointer-events: none;
    cursor: not-allowed; 
    
 }
 .disabled a{
    color:gray ;
 }
 .active a, .active a i{
     color: #6610f2 !important;
 }
 .active a{
    border-radius: .3rem;
     border-bottom: #6610f2 3px solid;
     box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
 }