.btn-fb {
    background-color: #3b5998;
}
.btn-tw {
    background-color: #55acee!important;
    
}
.btn-gplus {
    background-color: #dd4b39;
}
.btn-floating:hover, .card-overlay, .card.card-cascade .view, .colorful-select .dropdown-content li a:hover, .colorful-select .dropdown-content li span:hover, .comments-list img, .modal-dialog.cascading-modal.modal-avatar .modal-header img, .reply-form img, .testimonial-carousel .testimonial .avatar img, .z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.btn-li {
    background-color: #0092e4;
}
.btn-git {
    background-color: #404040;
}
.btn-pin {
    background-color: #c61118!important;
    
}
.btn-ins {
    background-color: #2e5e86;
}