<header *ngIf="this.router.url==='/'">
    <mdb-navbar SideClass="navbar  fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false" >
        <logo>
            <a class="logo navbar-brand" href="#"><strong><img src="../../../assets/images/logo.png" style="width:70px"></strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  waves-light" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  mdbRippleRadius>
                    <a class="nav-link" routerLink="/" >Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Guides Touristiques</a>
                </li>
                <li class="nav-item waves-light" (click)="formContact.show()" role="button
                " mdbRippleRadius>
                    <a class="nav-link" >Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="!authService.loggedIn() || false">
                <li class="nav-item waves-light" (click)="form.show()" role="button"  mdbRippleRadius>
                    <a class="nav-link"  >S'inscrire</a>
                </li>
                <li class="nav-item waves-light float-right" (click)="formLogin.show()" role="button" mdbRippleRadius>
                    <a class="nav-link">S'identifier</a>
                </li>
            </ul>
            <div class="btn-group" *ngIf="authService.loggedIn()" dropdown>
                <a dropdownToggle role="button" class="text-white dropdown-toggle waves-light" mdbRippleRadius>
                    {{this.userlogged.email}}
                </a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" >Déconnexion</a>
                </div>
            </div>
        
        </links>
      </mdb-navbar>
</header>

<header header *ngIf="this.router.url!=='/'" >
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar">
        <logo>
          <a class="logo navbar-brand" href="#"><strong><img src="../../../assets/images/logo.png" style="width:70px"></strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item  waves-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  mdbRippleRadius>
                    <a class="nav-link" routerLink="/" >Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Guides Touristiques</a>
                </li>
                <li class="nav-item waves-light" (click)="formContact.show()" mdbRippleRadius>
                    <a class="nav-link" >Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav" *ngIf="!authService.loggedIn()|| false">
                <li class="nav-item waves-light" (click)="form.show()"  mdbRippleRadius>
                    <a class="nav-link" >S'inscrire</a>
                </li>
                <li class="nav-item waves-light float-right" (click)="formLogin.show()" mdbRippleRadius>
                    <a class="nav-link" >S'identifier</a>
                </li>
            </ul>
            <div class="btn-group" *ngIf="authService.loggedIn()" dropdown>
                <a dropdownToggle role="button" class="text-white dropdown-toggle waves-light" mdbRippleRadius>
                    {{this.userlogged.email}}
                </a>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" >Déconnexion</a>
                </div>
            </div>
        </links>
        </mdb-navbar>        
  </header>
  
      
<!--Modal: Register Form-->
        <div mdbModal #form="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" > 
                <div class="modal-dialog cascading-modal" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        
                        <!--Header-->
                        <div class="modal-header light-blue darken-3 white-text">
                            <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
                            <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                        <form   #userForm="ngForm" (submit)="onRegisterSubmit(userForm,form)">
                            <div class="md-form form-sm ">
                                    <input mdbActive type="text" [(ngModel)]="user.name" #name="ngModel" name="name" id="name" class="form-control" required="required" >
                                    <label for="name">Nom</label>       
                                    <div>{{verifyform}}</div>        
                            </div>
                            <div class="md-form form-sm ">
                                    <div *ngIf="name.invalid && (name.submitted || name.touched)">
                                        <div *ngIf="name.errors?.required " class="text-danger font-weight-bold">
                                            Veuillez saisir un nom de famille valide.
                                         </div>
                                    </div>
                                    
                            </div>    
                            <div class="md-form form-sm ">
                                    <input mdbActive type="text" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" id="firstName" class="form-control" required="required" >
                                    <label for="firstName">Prénom</label>               
                            </div>
                            <div class="md-form form-sm ">
                                <div *ngIf="firstName.invalid && firstName.errors?.required && firstName.touched" class="text-danger font-weight-bold">
                                    Veuillez saisir un prénom valide.
                                </div>
                            </div> 
                            <div class="md-form form-sm ">
                                    <input mdbActive type="tel" [(ngModel)]="user.tel" #tel="ngModel" name="tel" id="tel" pattern="[0-9]*" minlength="8" maxlength="8" class="form-control" required>
                                    <label for="form42">Téléphone</label>               
                            </div>
                            <div class="md-form form-sm ">
                                <div *ngIf="tel.invalid && (tel.errors?.required || tel.errors?.pattern) && tel.touched" class="text-danger font-weight-bold">
                                    Veuillez saisir un télephone valide.
                                </div>
                            </div> 
                            <div class="md-form form-sm ">
                                <input mdbActive type="text" [(ngModel)]="user.adress" #adress="ngModel" name="adress" id="adress" class="form-control" required>
                                <label for="form42">Adresse</label>               
                            </div>
                            <div *ngIf="adress.invalid && adress.errors?.required  && adress.touched" class="text-danger font-weight-bold">
                                Veuillez saisir une adresse   valide.
                            </div>
                            <div class="md-form form-sm">
                                <input mdbActive type="email" [(ngModel)]="user.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" id="email" class="form-control" required> 
                                <label for="form32">Email</label>
                                <div *ngIf="email.invalid && (email.errors?.required || email.errors?.pattern) && email.touched" class="text-danger h6 font-weight-bold">
                                    Veuillez saisir une adresse e-mail  valide.
                                </div>
                            </div>
                            <div class="md-form form-sm">
                                <input mdbActive type="password" [(ngModel)]="user.password" #pass="ngModel" name="password" id="form33" class="form-control" required >
                                <label for="form33">mot de passe</label>
                                <div *ngIf="pass.invalid && pass.errors?.required  && pass.touched" class="text-danger font-weight-bold">
                                    Ce mot de passe n'est pas conforme aux exigences minimales.
                                </div>
                            </div>
                            <div class="md-form form-sm">
                                <input mdbActive type="password" [(ngModel)]="user.comfirmPass" #passconfirm="ngModel" name="comfirmPass" id="form34" class="form-control" required>
                                <label for="form34">comfirm mot de passe</label>
                                <div *ngIf="passconfirm.invalid && passconfirm.errors?.required  && passconfirm.touched" class="text-danger font-weight-bold">
                                    Ce mot de passe n'est pas conforme aux exigences minimales.
                                </div>
                            </div>
                            <div *ngIf="this.verifyForm" class="text-danger font-weight-bold">
                                les champs sont obligatoire
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-info" type="submit" > save </button>
                            </div>
                        </form>            
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-center text-md-right mt-1">
                                <p>Already have an account? <a href="#" (click)="formLogin.show();form.hide()">Log In</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
    <!--Modal: Register Form-->
    <!--Modal: Login Form-->
    <div mdbModal #formLogin="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <form #loginForm="ngForm" (submit)="onLoginSubmit(loginForm,formLogin)">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formLogin.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input mdbActive type="text"   [(ngModel)]="userLogin.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" id="form30" class="form-control">
                        <label for="form30">Your email</label>
                    </div>
    
                    <div class="md-form form-sm">
                        <i class="fa fa-lock prefix"></i>
                        <input mdbActive type="password"  [(ngModel)]="userLogin.password" name="password" id="form31" class="form-control">
                        <label for="form31">Your password</label>
                    </div>
    
                    <div class="text-center mt-2">
                        <button class="btn btn-info waves-light" mdbRippleRadius>Log in <i class="fa fa-sign-in ml-1"></i></button>
                    </div>
    
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="formLogin.hide()" mdbRippleRadius>Close</button>
                </div>
            </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login Form-->
    <!--Modal: Contact form-->
<div mdbModal #formContact="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <form #contactForm="ngForm" (submit)="onRegisterSubmit(contactForm,formContact)">
            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-pencil"></i> Contact form</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="formContact.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbActive type="text" id="form19" class="form-control">
                    <label for="form19">Your name</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbActive type="password" id="form20" class="form-control">
                    <label for="form20">Your email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-tag prefix"></i>
                    <input mdbActive type="text" id="form21" class="form-control">
                    <label for="form21">Subject</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea mdbActive type="text" id="form8" class="md-textarea mb-0"></textarea>
                    <label for="form8">Your message</label>
                </div>

                <div class="text-center mt-1-half">
                    <button class="btn btn-info mb-2 waves-light" mdbRippleRadius>Send <i class="fa fa-send ml-1"></i></button>
                </div>
            </div>
        </form>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->