.navbar {
    background-color: transparent;
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.top-nav-collapse {
    background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #0277bd !important;
}
.font-weight-bold {
    font-weight: 400 !important;
    font-size: 15px;
}