
<!-- Login form -->
<div class="container mt-5">
  <div class="offset-4">
      <form class="col-md-6">
          <p class="h5 text-center mb-4">Sign in</p>
        
          <div class="md-form">
              <input type="text" id="defaultForm-email" class="form-control" mdbActive>
              <label for="defaultForm-email">Your email</label>
          </div>
        
          <div class="md-form">
              <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
              <label for="defaultForm-pass">Your password</label>
          </div>
        
          <div class="text-center">
              <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
          </div>
        </form>
  </div>
</div>

<!-- Login form -->
      