.active{
    border-bottom: #6610f2 6px solid;
    cursor: pointer;
}
.card{
    cursor: pointer;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.19), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}